@CHARSET "UTF-8";
.ccui-grid{font-size:10pt;background: #E8F4FF;position:relative;}

.ccui-grid table{empty-cells:show;font-size:10pt;}
.ccui-grid table td,.ccui-grid table th{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.ccui-grid .buttons{display:none;padding:2px 10px 0 0;text-align:right;margin-top:-1pt;border-left:1pt solid #D4D0C8;border-right:1pt solid #D4D0C8;}
.ccui-grid .buttons .disabled{
	
}

.ccui-grid .header{position:relative;border:1pt solid #D4D0C8;overflow:hidden;height:25px;background: transparent url(images/grid/grid-blue-hd.gif);}
.ccui-grid .header .inner table{table-layout:fixed;margin-top:-1px;}
.ccui-grid .header .inner table td.control{height:0px;border-left:1pt solid #D4D0C8;}
.ccui-grid .header .inner table th.label{position:relative;padding-top:5px;vertical-align:top;text-align:center;border-left:1pt solid #D4D0C8;}
.ccui-grid .header .inner table th.checkbox{background-position: 4px 5px;}
.ccui-grid .header .inner table th>.helper{cursor:pointer;float:right;width:20px;height:25px;position:relative;top:-23px;right:-1px;z-index:10;}
.ccui-grid .header .inner table th>.helper.asc{background: transparent url(images/grid/hmenu-asc.gif) no-repeat right 8px;}
.ccui-grid .header .inner table th>.helper.desc{background: transparent url(images/grid/hmenu-desc.gif) no-repeat right 8px;}
.ccui-grid .header .inner table th>.helper >.col-resize{float:right;cursor:w-resize;width:5px;height:25px;}
.ccui-grid .header .inner table th.checkbox>.helper,.ccui-grid .header .inner table th.num>.helper{display:none;}

.ccui-grid .content{padding:0;overflow:auto;border-left:1pt solid #D4D0C8;border-right:1pt solid #D4D0C8;background: transparent url(images/grid/grid-bg.gif) 0 -1px;}
.ccui-grid .content .inner{overflow:hidden;}
.ccui-grid .content table{table-layout:fixed;margin-top:-4px;border-bottom:1pt solid #D4D0C8;}
.ccui-grid .content table.ie{margin-top:-2px;}
.ccui-grid .content table.ie8{margin-top:-5px;}

.ccui-grid .content table tr.old td{background-color:#fff;}
.ccui-grid .content table tr.even td{background-color:#ECF5FF;}
.ccui-grid .content table td{border-top:1pt solid #D4D0C8;border-left:1pt solid #D4D0C8;cursor:pointer;line-height:20px;}
.ccui-grid .content table td.first,.ccui-grid .header .inner table td.first,.ccui-grid .header .inner table th.first{border-left:0;}
.ccui-grid .content table td .num{text-align:center}
.ccui-grid .content table td .checkbox,.ccui-grid .header .checkbox{height:20px;background: transparent url(images/grid/row-check-sprite.gif) no-repeat 3px center;}
.ccui-grid .content table td a{text-decoration:none;}
.ccui-grid .content table td a:hover{color:green;text-decoration:underline overline;}
.ccui-grid .content table tr.selected td{background-color:#8080FF;}
.ccui-grid .content table tr.selected td .checkbox{background-position: -22px 1px;}

.ccui-grid .footer{border-left:1pt solid #D4D0C8;height:25px;padding-top:3px;background: transparent url(images/grid/grid-footer-bg.gif) scroll 0 0;}
.ccui-grid .col-resize-helper{position:absolute;width:1px;background-color:black;display:none;z-index:99;top:0;}

div.pGroup{float: left;background: none;height: 24px;margin: 0px 5px;}
div.pButton{float: left;width: 22px;height: 22px;border: 0px;cursor: pointer;overflow: hidden;margin:0 1px 0 1px;}
div.pButton.disabled{cursor:default;filter:Alpha(opacity=50);opacity:0.50;}
div.pButton span{width: 20px;height: 20px;display: block;float: left;cursor: pointer;}
div.pButton:hover,div.pButton.pBtnOver{width: 20px;height: 20px;border: 1px solid #ccc;}
div.pDiv  div.pButton:hover span,div.pButton.pBtnOver span{width: 19px;height: 19px;border-top: 1px solid #fff;border-left: 1px solid #fff;}
.ccui-grid  .footer input{vertical-align: text-top;position: relative;top: -5px;width:30px;}
.pPageStat,.pcontrol{position: relative;top: 5px;overflow: visible;}
div.btnseparator{float: left;height: 22px;border-left: 1px solid #ccc;border-right: 1px solid #fff;margin: 1px;}

.ccui-grid .footer .pFirst{background: url(images/grid/page-first.gif) no-repeat center;}
.ccui-grid .footer .pFirst .disabled{background-image: url(images/grid/page-first-disabled.gif);}
.ccui-grid .footer .pPrev{background: url(images/grid/page-prev.gif) no-repeat center;}
.ccui-grid .footer .pPrev .disabled{background-image: url(images/grid/page-prev-disabled.gif);}
.ccui-grid .footer .pNext{background: url(images/grid/page-next.gif) no-repeat center;}
.ccui-grid .footer .pNext .disabled{background-image: url(images/grid/page-next-disabled.gif);}
.ccui-grid .footer .pLast{background: url(images/grid/page-last.gif) no-repeat center;}
.ccui-grid .footer .pLast .disabled{background-image: url(images/grid/page-last-disabled.gif);}
.ccui-grid .footer .pReload{background: url(images/grid/reload.png) no-repeat center;}
.ccui-grid .footer .pReload.loading{background: url(images/grid/loading.gif) no-repeat center;}
.ccui-grid .footer.not-navigator >div{display:none;}

.addRecord{background: url(images/grid/add-record.gif) no-repeat center;}
.deleteRecord{background: url(images/grid/remove-record.gif) no-repeat center;}
.exportXML{background: url(images/grid/export-xml.gif) no-repeat center;}